<%= render 'books/userinfo', book: @user %>



  <h2>Users</h2>
    <table>
      <head>
        <tr>
          <th>image</th>
          <th>name</th>
        </tr>
      </thead>
      <% @user.each do |user| %>
        <td><%= image_tag @user.get_profile_image(100,100) %></td>

        <td><%= user.name %></td>

        <td><%= link_to "Show", book_path(book.id) %></td>
    </table>
<% end %>