<%= render 'books/userinfo', book: @user %>

<table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Opinion</th>
        <th></th>
      </tr>
    </thead>

    <h2>Book detail</h2>
<% @books.each do |book| %>

    <tbody>
      <tr>
        <td><%= link_to book.title, book_path(book.id) %></td>

        <td><%= book.body %></td>

      </tr>
    </tbody>
<% end %>
</table>
